.manage-specialty-container {
   margin: 0px 100px;
   .m-s-title {
      font-size: 36px;
      margin: 20px 0px;
      text-transform: uppercase;
      text-align: center;
   }
   .m-s-input {
      .input-file {
         border: none;
         outline: none;

         &.focus {
            box-shadow: none;
         }
      }
   }
   .manage-specialty-editor {
      margin-bottom: 20px;
   }
   .btn-save-s{
    border: none;
    outline: none;
    background-color: orange;
    padding: 5px 10px;
    margin-bottom: 10px;
   }
}
